.buttonSearchSection {
    padding: 15px 47px;
    margin-top: 20px;
    border-radius: 50px;
    background-color: #ab7e57;
    cursor: pointer;
    color: white; 
    text-decoration: none; 
    text-align: center;
    &:hover{
        background-color: #976f4c;

    }
  }
  